<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN IN</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MyAppStatic/css/home_common.css' %}">
    <link rel="stylesheet" href="{% static 'MyAppStatic/css/sign_in_css.css' %}">

    <link rel="icon " href="{% static 'MyAppStatic/media/signup_tab_icon.png' %}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
    </style>
</head>
<body>
<div class="all_content">
    <div class="text_div">
        <h2>SIGN IN</h2>
        <img src="{% static 'MyAppStatic/media/sign_up.png' %}" height="30px" width="30px">
    </div>
    <div class="form_div">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
           <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

       <form method="post" autocomplete="off">
        {% csrf_token %}
           <div class="inputs_div">

               <label for="username">User Name :</label>
               <input type="text" id="username" name="username" placeholder="Enter your user name">

               <label for="password">Password :</label>
               <input type="password" id="password" name="password" placeholder="Enter your password">



              <input type="submit" value="Sign Up Me !" id="submit">
           </div>
           <div>
               <a href="{% url 'forget_password' %}">Forget Password </a>
           </div>
           <div class="sign_up">
               <a href="{% url 'sign_up' %}">I want to sign up </a>
           </div>
       </form>

    </div>
</div>
</body>
</html>