
/* Main container styling */
.all_content {
    background-color: #cee7f0;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    box-shadow: -1px 2px 17px 5px rgba(12,139,145,1);
    border-radius: 10px;
    margin: 20px auto;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Form Header styling */
.text_div {
    text-align: center;
    margin-bottom: 20px;
}

.text_div h2 {
    color: #333;
      animation: slideIn 0.8s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.text_div img {

}

/* Form styling */
.form_div form {
    display: flex;
    flex-direction: column;
}

/* Inputs Styling */
.inputs_div {
    display: flex;
    flex-direction: column;
}


label {
    font-size: 16px;
    color: #333;
    margin-top:10px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    font-family: 'Source Code Pro';
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    background-color: #fff;
}

input[type="submit"] {
    background-color: #0c8b91;
    color: white;
    font-family: 'Source Code Pro';
    padding: 10px 0;
    margin-top:15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background-color:transparent;
    color:#0c8b91;
    border:1px solid #0c8b91;
    font-weight:bold;
    transform: scale(1.05);
}

/* Error message styling */
.error {
    color: red;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 10px;
}

/* Messages styling */
.messages p {
    color: green;
    background-color: #e7f9e7;
    padding: 10px;
    border-left: 4px solid green;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Sign in link styling */
.sign_in {
    text-align: center;
    margin-top: 10px;
}

.sign_in a {
    color: #0c8b91;
    text-decoration: none;
    font-size: 14px;
     font-weight:bold;
}

.sign_in a:hover {
    text-decoration: underline;
     font-weight:bold;
}

/* Responsive behavior */
@media screen and (max-width: 600px) {
    .all_content {
        padding: 15px;
    }

    input[type="submit"] {
        font-size: 14px;
    }

    .inputs_div {
        gap: 8px;
    }

    .sign_in a {
        font-size: 12px;
    }
}
